* {
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
}

  
  @font-face {
    font-family: "Open";
    src: url(fonte/OpenSans-VariableFont_wdth,wght.ttf);
  }
  
  @font-face {
    font-family: "RobotoB";
    src: url(fonte/Roboto-Bold.ttf);
  }
  
  @font-face {
    font-family: "RobotoR";
    src: url(fonte/Roboto-Regular.ttf);
  }
  
  @font-face {
    font-family: "PoppinsB";
    src: url(fonte/Poppins-Bold.ttf);
  }
  
  @font-face {
    font-family: "PoppinsR";
    src: url(fonte/Poppins-Regular.ttf);
  }
  
  body {
    font-family: "RobotoR", Arial, sans-serif;
  }
  
  .azul {
    background-color: #106EEA;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
  }
  
  .azul p {
    color: white;
    font-family: "Open";
    font-size: 20px;
  }
  
  header {
    background-color: #fff;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
  }
  
  .header a {
    font-family: "Open";
    color: black;
    font-size: 22px;
  }
  
  .header nav {
    display: flex;
    justify-content: space-between;
    width: 700px;
  }
  
  h1 {
    font-family: "PoppinsB";
    font-size: 45px;
  }
  
  .inicio {
    background-image: url(img/fundo.png);
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 100px;
  }
  
  .inicio h1 {
    font-size: 60px;
    color: black;
    text-align: right;
  }
  
  .inicio h4 {
    font-family: "PoppinsR";
    font-size: 40px;
    font-weight: 300;
    color: black;
    text-align: right;
  }
  
  .sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 100px 100px;
  }
  
  .sobre .conteudo {
    max-width: 50%;
  }
  
  .sobre h2 {
    font-size: 36px;
    font-family: "RobotoB";
    margin-bottom: 20px;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  
  .sobre h2 span {
    color: #106EEA;
  }
  
  .sobre p {
    font-size: 24px;
    line-height: 1.6;
    text-align: justify;
    font-family: "Open";
  }
  
  .sobre img {
    max-width: 40%;
    border-radius: 15px;
  }
  


  .dados {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
  }
  
  .caixa {
    text-align: center;
    border: 2px solid #8CA9CE; 
    padding: 40px; 
    border-radius: 10px;
    background-color: #F1F6FE;
  }
  
  .caixa img {
    max-width: 100px;
    margin-bottom: 20px;
  }
  
  .numero {
    font-size: 40px;
    font-family: "Open";
    font-weight: bold;
  }
  
  .texto {
    font-size: 20px;
    font-family: "RobotoR";
  }
  


  .servico .produto p{
    font-family: "robotoB";
    font-size: 25px; 
}
.servico .produto {
    border: 1px solid #8CA9CE;
    height: 200px;
    width: 275px;
    margin: 50px 75px;
    border-radius: 7px;
}
.todas, .produto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.produto p {
    font-family: "Open";
    font-size: 25px;
    width: 230px;
}
.servico {
    text-align: center;
    font-size: 20px;
}

.servico h2 {
    font-family: "robotoB";
    margin-top: 100px;
}

.servico p {
    font-family: "Open";
    font-size: 25px;
    margin: 10px 200px;
}

.servico h2 span {
  color: #106EEA;
}
  


  .linha {
    border-bottom: 2px solid #1150A3;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  

  
  .equipe {
    padding: 50px 100px;
    text-align: center;
  }
  
  .equipe h2 {
    font-family: "RobotoB";
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .equipe h2 span {
    color: #106EEA;
  }
  
  .equipe p {
    font-size: 24px;
    margin-bottom: 40px;
    font-family: "Open";
  }
  
  .pessoas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
  }
  
  .pessoal {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 2px solid black; 
    border-radius: 6px;
  }
  
  .pessoal img {
    width: 280px;
    height: 500px;
    margin-bottom: 25px;
  }
  
  .pessoal h5 {
    font-family: "PoppinsB";
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .pessoal p {
    font-size: 16px;
    color: black;
    font-family: "Open";
  }
  


  .contato {
    padding: 80px 100px;
    
  }
  
  .contato h2 {
    font-family: "RobotoB";
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: #106EEA;
  }
  
  
  .contato p {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
    font-family: "Open";
  }
  
  .informacoes {
    display: flex;
    justify-content: space-between;
    
  }
  
  .endereco {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 20px; 
    border: 2px solid black; 
    border-radius: 10px; 
  }

  .endereco h4 {
    font-size: 20px;
    margin-bottom: 15px;
    font-family: "RobotoB";
  }

  .endereco p {
    font-family: "RobotoR";
  }
  
  form {
    max-width: 55%;
    display: flex;
    flex-direction: column;
  }
  
  form div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  form input,
  form textarea {
    width: 48%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  form textarea {
    width: 100%;
    height: 150px;
  }
  
  form button {
    background-color: #106EEA;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
  }



  footer {
    background-color: #1150A3;
    padding: 30px 160px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

  
  footer nav a {
    font-family: "Open";
    color: white;
    font-size: 20px;
  }
  
  footer h3 {
    font-family: "Open";
    font-size: 30px;
    margin-bottom: 25px;
  }
  
  .redes img {
    width: 40px;
    margin-right: 20px;
  }
  